# Deriving New Variables

In [4]:
#Importing libraries
import pandas as pd
import numpy
import os

In [1]:
path = r'C:\Users\Arjun\Documents\Instacart Basket Analysis'

In [2]:
path

'C:\\Users\\Arjun\\Documents\\Instacart Basket Analysis'

In [35]:
#Import the orders products merged file
ords_prods_merged = pd.read_pickle(os.path.join(path,'Data','Prepared Data','orders_products_merged.pkl'))

In [36]:
#Validating the imported dataframe
ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [9]:
ords_prods_merged.shape

(32404859, 14)

In [37]:
#Limiting the big Instacart dataset
df = ords_prods_merged[:1000000]

In [39]:
#User defined Price Label function
def price_label(row):
    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <=15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High-range product'
    else:
        return np.nan

In [38]:
df.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [40]:
df.shape

(1000000, 14)

In [41]:
#Applying the Price range function
df['price_range'] = df.apply(price_label, axis = 1)

C:\Users\Arjun\AppData\Local\Temp\ipykernel_20844\3061919671.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1)

In [42]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [43]:
#Checking the maximum valued product in the dataset
df['prices'].max()

14.8

## If conditions using the loc() function

In [44]:
# loc method code
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\Arjun\AppData\Local\Temp\ipykernel_20844\3312153732.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [45]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5),'price_range_loc'] = 'Mid-range product'

In [46]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [48]:
# Now checking the value counts of the price range loc
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

In [52]:
# Trying the loc method for the whole dataset
ords_prods_merged.loc[ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [53]:
ords_prods_merged.loc[(ords_prods_merged['prices'] <= 15) & (ords_prods_merged['prices'] > 5),'price_range_loc'] = 'Mid-range product'

In [54]:
ords_prods_merged.loc[ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [56]:
# Now checking the value counts of the price range loc
ords_prods_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

## For Loops

In [57]:
#Checking the merged dataframe once
ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product

In [58]:
ords_prods_merged['order_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_week, dtype: int64

## Busiest Days logic using for-loops

In [59]:
result = []
for value in ords_prods_merged['order_day_of_week']:
    if value == 0:
        result.append('Busiest Day')
    elif value == 4:
        result.append('Least Busy')
    else:
        result.append('Regularly Busy')

In [61]:
#Printing the first 10 rows of the result to avoid printing the whole dataset
result[:10]

['Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least Busy',
 'Least Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least Busy']

In [62]:
#Creating a new column and assigning the result
ords_prods_merged['busiest_day'] = result

In [63]:
ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly Busy    22416875
Busiest Day        6204182
Least Busy         3783802
Name: busiest_day, dtype: int64

# Question 2

**Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.**

In [65]:
#Code for the value counts in the ords_merged
ords_prods_merged['order_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_week, dtype: int64

In [66]:
#Busiest days logic
result_new = []
for value in ords_prods_merged['order_day_of_week']:
    if value == 0 or value == 1:
        result_new.append('Busiest Days')
    elif value == 3 or value == 4:
        result_new.append('Slowest Days')
    else:
        result_new.append('Normal Days')

In [67]:
#Checking the dataframe first 10 rows
result_new[:10]

['Normal Days',
 'Slowest Days',
 'Slowest Days',
 'Slowest Days',
 'Slowest Days',
 'Normal Days',
 'Busiest Days',
 'Busiest Days',
 'Busiest Days',
 'Slowest Days']

In [68]:
#Creating a new column for the above result
ords_prods_merged['Busiest_days'] = result_new

## Question 3

In [69]:
#Checking the first 10 rows 
ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Normal Days
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Slowest Days
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Slowest Days
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least Busy,Slowest Days
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least Busy,Slowest Days

In [70]:
#Checking the new column frequencies
ords_prods_merged['Busiest_days'].value_counts(dropna = False)

Normal Days     12916111
Busiest Days    11864412
Slowest Days     7624336
Name: Busiest_days, dtype: int64

The values of normal days are highest in the data set.

## Question 4

**Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”**

In [71]:
#First let we inspect the ords_prods_merged columns
ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Normal Days
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Slowest Days
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Slowest Days
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least Busy,Slowest Days
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least Busy,Slowest Days

In [72]:
# Now lets check the frequency of the order_hour 
ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

**Number of hours in a day equals 24. We are dividing the 8 hours with most orders as "Most Orders", next 8 hours with orders as "Average Orders" and the remaining "Fewest Orders". 
Based on the above frequency count table, we can categories hours with Most orders as 10,11,14,15,13,12,16,9 and hours with Avergae orders as 17,8,18,19,20,7,21,22 and hours with fewest orders as 23,6,0,1,5,2,4,3 in that order respectively.**

In [73]:
# We can use the for loop logic
final_result = []

for value in ords_prods_merged['order_hour_of_day']:
    if value in [10,11,14,15,13,12,16,9]:
        final_result.append('Most Orders')
    elif value in [17,8,18,19,20,7,21,22]:
        final_result.append('Average Orders')
    else:
        final_result.append('Fewest Orders')

In [74]:
# Creating a new column containing these above labels
ords_prods_merged['busiest_period_of_day'] = final_result

In [78]:
#Checking the new column in the data set
ords_prods_merged[['order_hour_of_day','busiest_period_of_day']].head()

   order_hour_of_day busiest_period_of_day
0                  8        Average Orders
1                  7        Average Orders
2                 12           Most Orders
3                  7        Average Orders
4                 15           Most Orders

## Question 5

In [75]:
#Now checking the frequency counts of the newly created column
ords_prods_merged['busiest_period_of_day'].value_counts(dropna = False)

Most Orders       21118071
Average Orders     9997651
Fewest Orders      1289137
Name: busiest_period_of_day, dtype: int64

In [80]:
ords_prods_merged.shape

(32404859, 18)

## Question 7

In [79]:
#Exporting the data frame as a pickle file
ords_prods_merged.to_pickle(os.path.join(path,'Data','Prepared Data','orders_products_merged_new.pkl'))