In [1]:
# Importing the required libraries
import pandas as pd
import numpy as np
import os
import seaborn as sns

In [2]:
# Creating the path variable
path = r'C:\Users\Arjun\Documents\Instacart Basket Analysis'

In [3]:
path

'C:\\Users\\Arjun\\Documents\\Instacart Basket Analysis'

In [6]:
#Importing the Customers data set
customers = pd.read_csv(os.path.join(path,'Data','Original Data','customers.csv'), index_col = False)

In [7]:
# Validating if import of customers works
customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

### Question 4

In [ ]:
# Data Wrangling
# Renaming the columns of Surnam to Surname and n_dependants to Num_of_dependents and fam_status to Marital Status

In [8]:
customers.rename(columns = {'Surnam': 'Surname', 'n_dependants':'Num_of_dependents','fam_status':'Marital Status'}, inplace = True)

In [9]:
customers.head()

,user_id,First Name,Surname,Gender,STATE,Age,date_joined,Num_of_dependents,Marital Status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374